.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  border-radius: 40px;
  padding:10px;
  animation: border-animate 0.5s infinite alternate;
}

@keyframes border-animate {
  0% {border: 3px solid rgba(255,255,255,0);}
    100% {border: 3px solid rgba(255,255,255,1);}
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  padding: 5px 10px 4px 11px;
  border-radius: 30px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
